/* GT Main Menu */
#Navbar {
	padding-top: .25rem;
	padding-bottom: .25rem;
	background: var(--gt-white);
}

.nav-link {
    padding: .25rem 1rem;
}

.main-nav nav a,
.main-nav nav a:link,
.main-nav nav a:visited {
    display: block;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
	transition: all .2s ease-in-out;
    padding: .15rem .5rem;
}

.main-nav nav a.is-active {
	font-weight: 500;
}

.main-nav nav ul li {
    border-right: 2px solid var(--gt-gold);
}

.main-nav nav ul li a {
    color: var(--gt-text-black);
}

.main-nav nav ul li:last-child,
.main-nav nav ul li ul li,
.main-nav nav ul li ul li ul li {
    border-right: none;
}

.navbar-expand-md .navbar-nav li.nav-link,
.navbar-expand-md .navbar-nav li.nav-item {
    padding: 0;
}

.navbar-expand-md .main-nav .navbar-nav li:hover {
	background: rgba(212,216,210,.25);	
	transition: all .2s ease-in-out;
}

/* Show 3rd level dropdown */
.dropdown-menu .dropdown-menu {
    display: block;
}

/* Dropdwon */
.main-nav nav .dropdown .caret::before {
    color: #ac9a58;
    font-family: "FontAwesome";
    content: '\f078';
    text-transform: inherit;
    left: 90%;
    top: 60%;
    padding-left: .125rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 0.7em;
    line-height: 1;
}

.main-nav nav .dropdown.show .caret::before {
    font-family: "FontAwesome";
    content: '\f077';
}

.main-nav ul li ul li .caret::before {
    display: none;
}

.dropdown-menu {
    border-radius: 0;
    padding: 0;
}

.dropdown-menu ul,
.dropdown-menu li {
	margin: 0;
	padding: 0;
}

.dropdown-menu li {
	line-height: 1.2;
}

.dropdown-menu li a {
	line-height: 1.2;
	font-weight: 400;
	font-family: var(--font-roboto);
	transition: color .2s ease-in-out;
}

.dropdown-toggle::after {
    display: none;
}

.main-nav nav .dropdown-menu {
    border-bottom: 5px solid var(--gt-gold);
    border-top: 0px solid var(--gt-white);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,.3);
    min-width: 14rem;

}

.main-nav ul li ul.show li ul.dropdown-menu {
    background: transparent;
    border: none;
    box-shadow: none;
    position: relative;
    padding: 0;
    list-style: none;
	width: 100%;	
	padding-left: .5rem;
}

.navbar-expand-md .navbar-nav ul li.nav-item,
.navbar-expand-md .navbar-nav ul li.nav-link {
	padding: .5rem;
	border-bottom: 1px solid rgba(0,0,0,.3);
}

.navbar-expand-md .navbar-nav ul li.nav-item:hover,
.navbar-expand-md .navbar-nav ul li.nav-link:hover {
	background: rgba(212,216,210,.25);	
	transition: all .2s ease-in-out;
}

.navbar-expand-md .navbar-nav ul li.nav-item:hover a,
.navbar-expand-md .navbar-nav ul li.nav-link:hover a {
	color: var(--gt-dark-gray);
}


.navbar-expand-md .navbar-nav ul li.nav-item:last-child,
.navbar-expand-md .navbar-nav ul li.nav-link:last-child {
	padding: .5rem;
	border-bottom: 0px solid rgba(0,0,0,.3);
}

.navbar-expand-md .navbar-nav ul li.nav-item li {
	border: none;
}

.navbar-expand-md .navbar-nav ul li.nav-item ul {
	padding-left: 2rem;
	width: 100%;
}

.navbar-expand-md .navbar-nav ul li.nav-item a,
.navbar-expand-md .navbar-nav ul li.nav-link a {
	color: var(--gt-drk-gold);
    font-family: var(--font-roboto);
	font-weight: 600;
	line-height: 1.2;
	font-size: 1rem;
	transition: all .2s ease-in-out;
}

.navbar-expand-md .navbar-nav ul li.nav-item li.nav-link {
	padding: .35rem;
}	
	
.navbar-expand-md .navbar-nav ul li.nav-item li.nav-link a {
	color: var(--gt-dark-gray);
	font-weight: 500;
	font-size: .85rem;
}

.navbar-expand-md .navbar-nav ul li.nav-item li.nav-link a:hover {
	color: var(--gt-drk-gold);
}


/* Utility Nav */
#utility-search-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: var(--gt-white);
}

.utility-navigation.navbar-nav {
	justify-content: flex-end;
}

.utility-navigation a {
    color: var(--gt-drk-gold);
    font-family: var(--font-roboto);
    font-size: .9rem;
    line-height: 1.2;
    font-weight: 600;
    text-decoration: none;
     text-align: right;
}

.utility-navigation a:hover {
    border-bottom: none;
    text-decoration: none;
	transition: all .2s ease-in-out;
	color: var(--gt-md-grey);
}


.utility-navigation a.nav-link:after {
    content: ' ';
    background-image: url(/themes/contrib/gt_theme/images/gt-gold-chevron.svg);
    background-size: contain;
    display: inline-block;
    height: .78rem;
    width: .78rem;
    right: 0;
    margin-bottom: -.5px;
}

.utility-navigation a.nav-link:hover:after {
    background-image: url(/themes/contrib/gt_theme/images/gt-black-chevron.svg);
}

/**/

/* ---------- Menu Responsive ------- */

/* Navbar Mobile Button */
.navbar-toggler {
    border: none;
    background: transparent !important;
    padding: .75rem .5rem .5rem;
}

.navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: var(--gt-white);
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 50px;
    height: 3px;
    margin: 0 0 .5rem;
}

.navbar-toggler:not(.collapsed) .icon-bar {
    display: block;
    width: 34px;
    height: 4px;
    margin: 0;
    background-color: var(--gt-black);
}

.navbar-toggler .icon-bar.bottom-bar {
    margin: 0 0 .1rem;
}

.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggler:not(.collapsed) .icon-bar {
    margin: 4px 0 0 10px;
}

.navbar-toggler:not(.collapsed) .icon-bar + .icon-bar {
    margin: 6.5px 0 0 12px;
}

.navbar-toggler .icon-text {
    color: var(--gt-black);
    font-family: var(--font-roboto-condensed);
    font-size: 1rem;
    font-weight: 600;
}

.navbar-toggler .icon-text:before {
    content: "MENU";
    color: var(--gt-black);
    margin-left: 0;
}

.navbar-toggler:not(.collapsed) .icon-text:before {
    content: "CLOSE";
    top: -.1rem;
    position: relative;
}

.icon-bar:nth-child(2) {
    width: 50px;
    transition: ease all .2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
    width: 25px;
    transition: ease all .2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
    width: 25px;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -12px);
    transition: ease all .2s;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    border: none;
    float: right !important;
    margin: .25rem .25rem 0;
}

/********* RESPONSIVE - by MIN WIDTH *********/

@media (min-width: 768px) {
    ul.utility-navigation.navbar-nav a.nav-link {
		padding-right: 0;
		padding-left: 0;
	}
}

/********* RESPONSIVE - by MAX WIDTH *********/	
/* The Mobile Menu System  */
@media (max-width: 1198px) {
    #search-container {
        padding: 5px 15px 0 15px;
        top: 0;
    }
	#utility-search-wrapper {
		display: block;
	}
}

@media (max-width: 990px) {
    .main-nav nav ul li {

    }

    .main-nav nav .dropdown-menu {
        box-shadow: none;
        border: none;
    }

    .dropdown .nav-link a {
        border-bottom: none;

    }

    .navbar-nav .dropdown-submenu .nav-link:first-child {

        margin: .5rem 0 0;
    }

    .navbar-nav .dropdown-submenu .dropdown-menu .nav-link:first-child {
        padding: 0;
        margin: .25rem 0;
    }
}


/* General Responsiveness  */
@media (max-width: 768px) {
	#bottom-header .container.navbar {
		padding-left: 25px;
		padding-right: 25px;
	}
    .display-links:hover {
        background-color: transparent;
    }

    li.nav-link,
    .dropdown-toggle .nav-link {
        border-right: none;
    }

    .dropdown .nav-item {
        padding: .6rem 0;
        border-right: none;
        margin: 0;
    }

	.main-nav nav a, 
	.main-nav nav a:link, 
	.main-nav nav a:visited {

	}    

    .dropdown .caret {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        bottom: 0;
    }

    .dropdown .dropdown-submenu .caret {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        bottom: 0;
        right: 0;
        float: right;
    }

    .dropdown .caret::before {
        position: absolute;
        font-family: var(--font-awesome);
        content: '\f067';
        text-transform: inherit;
        left: 30%;
        top: 30%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .dropdown-toggle.nav-link {
        padding: .5rem 0;
    }

    .dropdown.display-links.nav-item.show {
        background: rgba(212,216,210,.35);
    }

    .main-nav nav .dropdown-menu {
        background: transparent;
    }

    .main-nav nav ul li ul li,
    .main-nav nav ul li ul li ul li,
    .main-nav nav ul li ul li ul li ul li {
        border-bottom: none;
    }

    .main-nav nav a, .main-nav nav a:link, .main-nav nav a:visited {
        font-size: 16px;
    }

    .main-nav ul li ul li ul.dropdown-menu .nav-link {
        padding: .25rem 0;
    }

    .main-nav nav ul li,
    .main-nav nav ul li:hover,
    .main-nav nav ul:first-child li:hover {
        border-right: 0;
        border-bottom: 1px solid rgba(0,0,0,.2);
    }

    .navbar-nav li:last-child > .dropdown-menu a {
        text-align: left !important;
    }

    .navbar-nav .dropdown-menu {
        float: none;
        padding: 0 1rem;
        position: static;
        width: 100%;
    }

    .navbar-nav .dropdown-menu .nav-link {
        margin: 0;
        width: 100%;
    }

    .navbar-nav .nav-link:first-child {
        margin: 0;
        width: 100%;
    }

    .navbar-nav .dropdown-submenu .nav-link:first-child {
        font-weight: 600;
    }
   
	.navbar-expand-md .navbar-nav li.nav-item,
	.navbar-expand-md .navbar-nav li.nav-link {
		padding: .5rem;
	}
	.navbar-expand-md .navbar-nav li.nav-item a,
	.navbar-expand-md .navbar-nav li.nav-link a {
		font-size: 1.1rem;
	}	
	.navbar-expand-md .navbar-nav ul li.nav-item, .navbar-expand-md .navbar-nav ul li.nav-link {	
	    border-bottom: 1px solid #fff;	
	}	
    .utility-navigation {
        padding: .5rem 0;
    }

    .utility-navigation .float-right {
        float: left !important;
    }
        
    .navbar-collapse {
        background: var(--gt-white);
        border-bottom: 4px solid var(--gt-gold);
        z-index: 9999;
        box-shadow: 0 5px 6px rgba(0,0,0,.3);
    }
    #Navbar {
	    padding: 0;	
	    justify-content: center;
	    padding: 0 15px;
    }
    
    #Navbar .row {
	    justify-content: center;
	    width: auto !important;
    }

    #page-navigation {
	    padding: 0; 
    }

    /**/
}

/* end 768px */

