/* GT Demi Header */
.gt-demi-header  h2 {
    font-size: 1.5rem;
}

.gt-demi-header  h3 {
    font-size: 1rem;
}

.gt-demi-header .gt-logo img {
    height: 80%;
}

.gt-demi-header .top-background-wrapper {
    display: none;
}

.gt-demi-header .middle-background-wrapper {
    background: #b3a369;
    max-height: 3.8rem;
}

.gt-demi-header .middle-background {
    background: transparent;
}

.gt-demi-header .col-lg-3 {
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
    max-width: 17%;
}

/* Responsive */
@media (max-width: 768px) {
    .gt-demi-header .middle-background-wrapper {
        background: linear-gradient(to bottom, #b3a369 0%, #b3a369 53%, #fff 53%, #fff 100%);
        max-height: 100% !important;
    }

    .gt-demi-header .gt-logo img {
        height: 90%;
    }
}

/* end 768px */

