/* GT Footer */
.gt-black-wrapper {
  background: var(--gt-black);
  color: var(--gt-white);
}
#gt-footer p,
#gt-footer a,
#gt-superfooter a,
#gt-superfooter p,
#address_text p,
#copyright p {
  font-family: var(--font-roboto-condensed);
  font-size: .7rem;
  font-weight: 400;

}
.footer-fixed #gt-after-full-width-content-nopadding {
  -webkit-box-shadow: 0 8px 6px -6px var(--gt-black);
  -moz-box-shadow: 0 8px 6px -6px var(--gt-black);
  box-shadow: 0 8px 6px -6px var(--gt-black);
}
.footer-fixed #gt-after-full-width-content-nopadding,
.footer-fixed .main-container {
  background-color: var(--gt-white);
  border-bottom: 1px solid var(--gt-gold);
  -webkit-box-shadow: 0 7px 6px -6px var(--gt-light-grey);
  -moz-box-shadow: 0 7px 6px -6px var(--gt-light-grey);
  box-shadow: 0 7px 6px -6px #ccc;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.social-media-links--platforms .fa::before {
  color: var(--gt-white)!important;
}
/* GT Superfooter */
#gt-before-footer html,
#gt-before-footer p {
  color: var(--gt-white);
}
#gt-superfooter h2 {
  font-size: 1.5rem;
  padding: 0 0 .5rem;
}
#gt-superfooter #gt-before-footer a,
#gt-superfooter #gt-before-footer a:link,
#gt-superfooter #gt-before-footer a:visited {
  color: var(--gt-gold);
  display: inline-flex;
}
#gt-superfooter a,
#gt-superfooter a:link,
#gt-superfooter a:visited {
  color: var(--gt-white);
  display: block;
  text-decoration: none;
}
#gt-superfooter a:hover {
  text-decoration: underline;
}
#gt-superfooter ul {
  border-left: 1px solid var(--gt-md-grey);
  list-style: none;
  line-height: 1.5;
  padding: 0 0 0 1rem;
}
#gt-superfooter ul li ul {
  border-left: none;
  padding: 0;
}
#gt-superfooter nav ul li span  {
  border-bottom: 1px dotted var(--gt-gold);
  border-top: 1px dotted var(--gt-gold);
  color: var(--gt-gold);
  display: block;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.1;
  margin: .75rem 0 .25rem 0;
  padding: .25rem 0;
  text-transform: uppercase;
}
#gt-superfooter ul li ul li .is-active {
  border-bottom: none;
  border-top: none;
  display: block;
  font-weight: 400;
  line-height: 1.1;
  margin: .5rem 0 0;
  text-transform: inherit;
}
#gt-superfooter ul.social-media-links--platforms {
  border-left: 1px solid transparent;
}

#gt-superfooter ul.contextual-links a {
  color: var(--gt-black);
}
#gt-before-footer {
  border-bottom: 1px solid var(--gt-md-grey);
}
#gt-superfooter .block-region {
  color: var(--gt-black);
}
#address_text p,
#copyright p {
  color: var(--gt-black);
}
#copyright p {
  text-align: right;
}
#gt-footer ul,
#address_text p {
  list-style: none;
  padding: 0 0 0 1rem;
  border-left: 1px solid var(--gt-white);
}
#gt-footer a:link,
#gt-footer a:visited {
  color: var(--gt-black);
  display: block;
  border-bottom: 1px transparent  dotted;
}
#gt-footer a:hover {
  color: var(--gt-black);
  text-decoration: underline;
}
.footer-top-bar {
  background: var(--gt-gold-grad);
  height: 1rem;
}
.footer-bottom-bar {
  background: var(--gt-gold-grad-rev);
  height: 9.2rem;
}
#copyright p,
#copyright img {
  float: right !important;
  font-family: “Helvetica Neue”, “Helvetica”, “Arial”, sans-serif;
  font-size: .65rem;
  font-weight: 400;
}
#copyright img {
  background-size: auto auto;
  border: 0;
  vertical-align: top;
  width: 140px;
}
.ctn-footer img {
  background-size: auto auto;
  border: 0;
  vertical-align: top;
  width: 200px;
}
/* Fixed Footer */
footer {
  display: block;
}

body.footer-fixed #footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -9999;
  width: 100%;
}

body.footer-fixed {
  position: relative;
  z-index: 1;
}
/* Mobile queries */
/* X Small devices () */
@media (max-width: 990px) {
  /* Start*/
  #copyright p,
  #copyright img {
    float: left !important;
    text-align: left;
  }
  #gt-logo-footer {
    margin: 0 0 0 1rem;
    text-align: left;
  }
  .footer-bottom-bar {
    height: auto;
  }
  #copyright p {
    width: 100%
  }
}

/**/
@media (max-width: 991px) {
  body.footer-fixed {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 991px) {
  body.footer-fixed #footer {
    position: static;
  }
}
