/**** H Tags ****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto-condensed);
  font-weight: 400;
  line-height: 1;
  margin-bottom: .15rem;
  color: var(--gt-md-gold);
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
h4,
h5,
h6 {
  color: var(--gt-md-grey);
}
/**/

/**** GT Content ****/
html,
body {
  overflow-x: hidden;
}
a:hover,
a:focus,
a:active {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
  outline: none !important;
}
html,
body,
p {
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--gt-black);
}
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:hover,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="tel"]:hover,
input[type="password"]:focus,
input[type="password"]:active,
input[type="password"]:hover,
input[type="email"]:focus,
input[type="email"]:active,
input[type="email"]:hover,
textarea:focus,
textarea:active,
textarea:hover,
select:focus,
select:active,
select:hover,
input:hover,
input:focus,
input:active {
  outline: none;
}
img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
a,
a:link,
a:visited {
  color: var(--gt-blue);
  font-style: inherit;
  text-decoration: none;
}
a:hover,
a:active {
  color: var(--gt-blue-hover);
}
/* Sticky Footer BK color !important */
.main-container {
  background-color: var(--gt-white);
}
/**** GT Hyperlinks ****/
#gt-page-title h1 {
  padding: .5rem 0;
}
#page-navigation ul li:nth-child(-n+1) {
  padding-left: 0;
}
/* Hide Elements */
.hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/**** Font Awesome\ 5 Free ****/
::before,
::after {
  color: var(--gt-gold);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  margin-left: .25rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
/**/

/* Secondary Button */
.btn-secondary a,
.btn-secondary a:link,
.btn-secondary a:visited {
  color: var(--gt-white) !important;
  text-decoration: none;
}
.btn-secondary {
  background-color: var(--gt-black);
  border-color: var(--gt-black);
  color: var(--gt-white);
}
.btn-secondary a:hover {
  color: var(--gt-gold);
  text-decoration: none;
}
.btn-secondary:hover {
  background-color: var(--gt-gold);
  border-color: var(--gt-gold);
}
/**/
/* Breadcrumb */
.breadcrumb {
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
  background-color: var(--gt-white);
  border-radius: 0;
}
.breadcrumb-links ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.breadcrumb-links li {
  float: left;
}
.breadcrumb-links li a {
  display: inline-block;
  color: var(--gt-drk-grey);
  font-size: .9rem;
  font-weight: 400;
  padding: 0 .5rem;
  text-align: center;
}
.breadcrumb-links li a:hover {
  color: var(--gt-md-gold);
}
.breadcrumb-links li a:first-child {
  padding: 0 .5rem 0 .1rem;
}
.breadcrumb-links .container {
  padding-left: 0;
}
.breadcrumb-links .active {
  background-color: var(--gt-gold);
}
.breadcrumb-links li a:hover {
  color: var(--gt-gold);
  text-decoration: none;
}
.breadcrumb-links li a::after {
  content: ' ';
  background-image: url(../images/gt-gold-chevron.svg);
  background-size: contain;
  height: .6rem;
  width: .6rem;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
.breadcrumb-links li a:hover:after {
  background-image: url(../images/gt-black-chevron.svg);
}
.breadcrumb-links li:last-child a:after {
  content: "";
}
/* Full Width Img */
#gt-banner img,
#gt-after-full-width-content img,
#gt-after-full-width-content-nopadding img {
  border: 0;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  vertical-align: top;
}
.toolbar-loading #toolbar-administration {
  overflow: hidden;
  background: #000;
}
#block-archimedes-local-tasks ul li a {
  color: var(--gt-white) !important; /* Why for the love of Pete !important */
}