/********* GT Official Web Colors *********/
:root {
  /* GT Colors */
  --gt-black: #333;
  --gt-white: #fff;
  /* hex equivalent of rgba (0,0,0,.8) */
  --gt-warm-grey-light: #F2F3F1;
  --gt-light-grey: #ccc;
  --gt-md-grey: #545454;
  --gt-mddk-grey: #8a8a8a;
  --gt-drk-grey: #3b3b3b;
  --gt-blue: #004f9f;
  --gt-blue-hover: #1879db;
  --gt-blue-visited: #730053;
  /*Whistle purple*/
  --gt-gold: #b3a369;
  --gt-mdlt-gold: #ac9a58;
  --gt-md-gold: #a4925a;
  /*Accessible large headlines*/
  --gt-drk-gold: #857437;
  /*Accessible normal text*/
  --gt-gold-grad-1:  #bfb37c;
  /**/

  --gt-gold-grad: linear-gradient(to right, #bfb37c 0%, #b3a369 100%);
-moz-linear-gradient(left, #BFB37C 0 %, #B3A369 100 %);
-webkit-linear-gradient(left, #BFB37C 0 %, #B3A369 100 %);
  /**/
  --gt-gold-grad-rev: linear-gradient(to right, #b3a369 0%, #bfb37c 100%);
-moz-linear-gradient(left, #B3A369 0 %, #BFB37C 100 %);
-webkit-linear-gradient(left, #B3A369 0 %, #BFB37C 100 %);
  /**/
  --gt-gold-drk-half: linear-gradient(to right, #ac9a58 0%, #ac9a58 50%, white 50%, white 100%);
-moz-linear-gradient(left, #AC9A58 0 %, #AC9A58 50 %, white 50 %, white 100 %);
-webkit-linear-gradient(left, #AC9A58 0 %, #AC9A58 50 %, white 50 %, white 100 %);
  /**/
  --gt-gold-grad-shine: linear-gradient(60deg, #b3a369 0%, #bfb37c 40%, #bfb37c 60%, #b3a369 100%);
-moz-linear-gradient(60 deg, #b3a369 0 %, #bfb37c 40 %, #bfb37c 60 %, #b3a369 100 %);
-webkit-linear-gradient(60 deg, #b3a369 0 %, #bfb37c 40 %, #bfb37c 60 %, #b3a369 100 %);

}
/* Backgrounds */
.gt-drk-gold {
  background: var(--gt-drk-gold)
}
.gt-mdlt-gold {
  background: var(--gt-mdlt-gold)
}
.gt-gold {
  background: var(--gt-gold)
}