/* SEARCH */
xxx-*:focus {
  outline: none; /* Remove the blue outline */
}
input {
  background-color: var(--gt-white);
  border: 1px solid var(--gt-light-grey);
}
input:focus {
  outline: none;
}
.hide {
  opacity: 0;
  max-height: 0;
}
.hide.search-box {
  left: -140px;
  position: absolute;
}
.search-box {
  background: var(--gt-white);
  padding: 15px;
}
.sticky.is-sticky .hide.search-box {
  left: -225px;
}
#trigger {
  position: absolute;
  left: -9999em;
}
/* Search Block */
#search-block-form {
  z-index: 9999;
  background: var(--gt-white);
  padding: .5rem 0 .5rem .5rem;
}
#search-block-form .button.form-submit,
#search-block-form .form-submit {
  background: var(--gt-gold);
  color: var(--gt-black);
  cursor: pointer;
  float: inline-end;
  font-family: var(--font-roboto-condensed);
  padding: 4px 8px;
  border: 0;
}
#search-block-form [type="search"] {
  height: 32px;
  float: left;
  padding: 5px;
  width: 145px;
}
/* Search Container */
#search-container {
  float: right;
  padding: 0 15px;
  position: relative;
  top: -.1rem;
}
#search-container .btn {
  border-radius: 0 .25rem .25rem 0;
}
#search-container input[type="checkbox"]:checked + div {
  max-height: 99em;
  opacity: 1;
  height: auto;
  overflow: hidden;
  z-index: 9999;
}
#search-container span {
  color: var(--gt-md-gold)!important;
  cursor: pointer;
  font-family: var(--font-roboto-condensed);
  font-size: .9rem;
  font-weight: 600;
  margin: 0 5px 0;
  text-decoration: none;
  letter-spacing: .2px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
#search-container span:hover {
  color: var(--gt-black)!important;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
}
.fa-search:hover:before  {
  color: var(--gt-black)!important;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
.fa-search {
  cursor: pointer;
}
/* Search Form */
.search-form {
  font-size: .9rem;
}
.search-form .form-item-keys label {
  display: block;
}
.search-form .form-search {
  float: left; /* LTR */
  margin-right: 5px; /* LTR */
  padding: 4px;
}
[dir="rtl"] .search-form .form-search {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
/* Search Results */
.search-results {
  padding: 0;
  list-style-position: inside;
}
.search-results li {
  border-bottom: 1px solid var(--gt-drk-gold);
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
}
.search-results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em;
}
.search-result__title {
  font-weight: bold;
}
.search-result__snippet-info {
  padding-left: 0; /* LTR */
}
[dir="rtl"] .search-result__snippet-info {
  padding-right: 0;
}
/*********  RESPONSIVENESS ********/

@media (max-width: 990px) {
  .hide.search-box {
    left: -100px;
  }
  .search-box {
    padding: 0 0 0 15px;
  }
  #search-container {
    padding: 9px 15px 0 0;
  }
  #search-block-form [type="search"] {
    height: 32px;
  }
  #search-container input[type="checkbox"]:checked + div {
    width: 400px;
  }
  #search-block-form .button.form-submit,
  #search-block-form .form-submit {
    float: none !important;
    border-radius: 0;
  }
}
@media (max-width: 768px) {
  .hide {
    opacity: 1;
    max-height: 100%;
  }
  .hide.search-box {
    left: 0;
    position: relative;
  }
  #search-container {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0 0 30px;
    display: block;
  }
  #search-container .btn {
    height: 40px;
    margin: 0 0 3px;
  }
  #search-container .fa-search {
    left: -9999px;
    position: absolute;
  }
  #search-block-form {
    display: block;
    padding: 0;
    width: 100%;
  }
  #search-block-form [type="search"] {
    float: inherit;
    height: 40px;
    width: 65%;
  }
  #search-block-form .button.form-submit,
  #search-block-form .form-submit {
    float: unset;
  }
  #search-container span {
    position: absolute;
    left: -9999px;
  }

}

