/* Banner */
.banner-body {
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 1rem 2rem !important;
  width: 100%;
}
.banner-body p {
  color: var(--gt-white) !important;
}
a.banner-link {
  color: var(--gt-white) !important;
  float: right;
  text-transform: uppercase;
}
.banner-link::after {
  color: var(--gt-white);
  content: '\f064';
  display: block;
  float: right;
  font-family: var(--font-awesome-old);
  font-size: 1.1em;
  margin-left: 10px;
}
.jumbotron {
  padding: 22rem 1rem 2rem 1rem;
}
