.social {
    list-style: none;
    text-align: right;
    padding: 0;
}

.social li {
    display: inline-block;
}

.main-container .social a,
.main-container .social a:link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #545454;
    width: 30px;
    margin: 5px;
    overflow: hidden;
    font-weight: inherit;
}



.main-container .social a:hover {
    background: none;
}