/**** GT General ****/
html,
body {
    overflow-x: hidden;
}

html,
body,
p {
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gt-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* enables sticky footer */
.dialog-off-canvas-main-canvas {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* enables sticky footer */
.main-container {
  flex: 1;
}
               
body.frontpage #gt-page-title h1 {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a,
a:link {
    color: var(--gt-blue);
    font-style: inherit;
    font-weight: 400;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--gt-blue-hover);
    text-decoration: underline;
    outline: none;
    -webkit-transition: all 0.75s;
    -o-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    transition: all 0.75s;
}

a.selected {
    color: var(--gt-drk-gold);
    text-decoration: underline;
}

.toolbar-menu-administration a,
.toolbar-menu-administration a:link {
    color: var(--gt-black);
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:hover,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="tel"]:hover,
input[type="password"]:focus,
input[type="password"]:active,
input[type="password"]:hover,
input[type="email"]:focus,
input[type="email"]:active,
input[type="email"]:hover,
textarea:focus,
textarea:active,
textarea:hover,
select:focus,
select:active,
select:hover,
input:hover,
input:focus,
input:active {
    outline: none;
}

img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

/* GT Typography */
html,
body {
    color: var(--gt-black);
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

p {
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gt-black);
    margin-bottom: 1.3rem;
}

/* H Tags */
/* headings */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-roboto-condensed);
    font-weight: 600;
    line-height: 1;
    margin-bottom: .5rem;
}

h1, .h1, h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    color: var(--gt-md-gold);
}

/* links */

h1 a, h1 a:link,
h2 a, h2 a:link,
h3 a, h3 a:link,
h4 a, h4 a:link,
h5 a, h5 a:link,
h6 a, h6 a:link,
h1 a:after, h1 a:link:after,
h2 a:after, h2 a:link:after,
h3 a:after, h3 a:link:after,
h4 a:after, h4 a:link:after,
h5 a:after, h5 a:link:after,
h6 a:after, h6 a:link:after {
    display: inline-block;
    font-weight: 600;
    color: var(--gt-md-gold);
    border: 0;
    border-bottom: .18rem solid transparent;
}

h1 a:hover, h1 a:link:hover,
h2 a:hover, h2 a:link:hover,
h3 a:hover, h3 a:link:hover,
h4 a:hover, h4 a:link:hover,
h5 a:hover, h5 a:link:hover,
h6 a:hover, h6 a:link:hover {
    color: inherit;
    background: transparent;
    text-decoration: none;
    border-bottom: .18rem solid var(--gt-gold);
}

.h2, h2 {
    font-size: 1.75rem;
}

/* May need to find another solution */
.main-container img + p,
.main-container img > p,
.main-container img:first-child {
    margin-bottom: 1rem !important;
}

ul {
    list-style: square;
}

.main-container li {
	margin-bottom: .5rem;
}

/* Sticky Footer BK color !important */
.main-container {
    background-color: var(--gt-white);
}

/**** GT Hyperlinks ****/
#gt-page-title h1 {
    padding: .5rem 0;
}

/* Hide Elements */
.hidden,
.hide {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Secondary Button */
.btn-secondary a,
.btn-secondary a:link,
.btn-secondary a:visited {
    text-decoration: none;
}

.btn-secondary {
    background-color: var(--gt-black);
    border-color: var(--gt-black);
    color: var(--gt-white) !important;
}

.btn-secondary a:hover {
    color: var(--gt-gold);
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: var(--gt-gold);
    border-color: var(--gt-gold);
}

.btn.btn-secondary {
    background: var(--gt-dark-gray);
}

.btn.btn-secondary a {
    color: var(--gt-white);
}

.btn.btn-secondary:hover {
    background: var(--gt-md-grey);
}

/**/
/* Breadcrumb */
.hide-breadcrumb {
    position: absolute;
    left: -9999px;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: var(--gt-white);
    border-radius: 0;
}

.breadcrumb-links ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.breadcrumb-links li {
    float: left;
}

.breadcrumb-links li a {
    border-bottom: none;
    display: inline-block;
    color: var(--gt-drk-grey);
    font-size: .9rem;
    font-weight: 400;
    padding: 0 .5rem;
    text-align: center;
}

.breadcrumb-links li a:hover {
    color: var(--gt-md-gold);
}

.breadcrumb-links li a:first-child {
    padding: 0 .5rem 0 0;
}

.breadcrumb-links .container {
    padding-left: 0;
}

.breadcrumb-links .active {
    background-color: var(--gt-gold);
}

.breadcrumb-links li a:hover {
    color: var(--gt-gold);
    text-decoration: none;
}

.breadcrumb-links li a::after {
    content: ' ';
    background-image: url(/themes/contrib/gt_theme/images/gt-gold-chevron.svg);
    background-size: contain;
    display: inline-block;
    height: .7rem;
    width: .7rem;
}

.breadcrumb-links li a:hover:after {
    background-image: url(/themes/contrib/gt_theme/images/gt-black-chevron.svg);
}

.breadcrumb-links li:last-child a:after {
    content: "";
}

/* Full Width Img */
#gt-banner img,
#gt-after-full-width-content img,
#gt-after-full-width-content-nopadding img {
    border: 0;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    vertical-align: top;
    margin-bottom: 0 !important;
}

.toolbar-loading #toolbar-administration {
    overflow: hidden;
    background: #000;
}

#block-archimedes-local-tasks ul li a {
    color: var(--gt-white) !important; /* Why for the love of Pete !important */
}

/* Toolbar Overrides */
.toolbar a,
.toolbar-tray a {
    border-bottom: none !important;
}

/* RSS FEED */
a.feed-icon {
    border-bottom: none !important;
    color: var(--gt-black) !important;
    font-family: var(--font-abel);
    font-weight: normal;
    text-transform: uppercase;
}

.feed-icon::before {
    font-family: var(--font-awesome-old);
    content: '\f143';
}

.feed-icon:hover::before {
    color: var(--gt-black);
}

/* Front Page Banner */
.banner-body {
    background: rgba(0, 0, 0, 0.6) !important;
    padding: 1rem 2rem !important;
    width: 100%;
}

.banner-body p {
    color: var(--gt-white) !important;
}

a.banner-link {
    color: var(--gt-white) !important;
    float: right;
    text-transform: uppercase;
}

.banner-link::after {
    color: var(--gt-white);
    content: '\f064';
    display: block;
    float: right;
    font-family: var(--font-awesome-old);
    font-size: 1.1em;
    margin-left: 10px;
}

.jumbotron {
    padding: 22rem 1rem 2rem 1rem;
}

/* Table CSS */
table {
    border: 1px solid transparent;
    font-family: var(--font-abel);
    font-size: 1rem;
    line-height: 1.2;
    margin: 10px 0 20px 0;
    vertical-align: top !important;
}

table p {
    font-size: .9rem;
    line-height: 1.2;
}

table a,
table a:visited {
    border-bottom: none !important;
    color: var(--gt-black) !important;
    font-weight: 400;
    line-height: 1.2;
}

table a:hover,
table a:active {
    border-bottom: 1px solid var(--gt-md-grey) !important;
    color: var(--gt-black) !important;
    text-decoration: none !important;
}

caption {
    color: var(--gt-md-grey) !important;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: normal;
}

summary {
    text-transform: uppercase;
}

thead {
    background: var(--gt-gold);
}

th {
    border: 1px solid transparent;
    padding: .5rem !important;
    vertical-align: top !important;
}

td {
    border: 1px solid transparent;
    padding: .5rem !important;
    vertical-align: top !important;
}

tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, .05);
}

.card {
    padding: 1rem;
    margin: 1rem 0;
}

/* PDF */
.file--application-pdf::before {
    content: "\f1c1";
    color: red;
    font-family: "FontAwesome";
}

.file--application-pdf::after {
    content: "(PDF)";
    color: var(--gt-black);
    font-weight: 400;
    font-size: 90%;
}

a[href$=".pdf"] {
    /* PDF file */
    color: var(--gt-black);
    padding-left: .25rem;
}

.download-reader {
    font-family: var(--font-roboto-condensed);
    font-size: .9rem;
    text-transform: uppercase;
    padding-left: .5rem;
}

/* Word */
.file--x-office-document::before {
    content: "\f1c2";
    color: blue;
    font-family: "FontAwesome";
}

.file--x-office-document::after {
    content: "(DOC)";
    color: var(--gt-black);
    font-weight: 400;
    font-size: 90%;
}

a[href$=".doc"] {
    /* Word file */
    color: var(--gt-black);
    padding-left: .25rem;
}

a[href$=".docx"] {
    /* Word file */
    color: var(--gt-black);
    padding-left: .25rem;
}

/* XLS */
.file--x-office-spreadsheet::before {
    content: "\f1c3";
    color: Green;
    font-family: "FontAwesome";
}

.file--x-office-spreadsheet::after {
    content: "(XLS)";
    color: var(--gt-black);
    font-weight: 400;
    font-size: 90%;
}

a[href$=".xls"] {
    color: var(--gt-black);
    padding-left: .25rem;
}

a[href$=".xlsx"] {
    color: var(--gt-black);
    padding-left: .25rem;
}

/* PPT */
.file--x-office-presentation::before {
    content: "\f1c4";
    color: Magenta;
    font-family: "FontAwesome";
}

.file--x-office-presentation::after {
    content: "(PPT)";
    color: var(--gt-black);
    font-weight: 400;
    font-size: 90%;
}

a[href$=".ppt"] {
    color: var(--gt-black);
    padding-left: .25rem;
}

a[href$=".pptx"] {
    color: var(--gt-black);
    padding-left: .25rem;
}

/* PPS */
.file--x-office-presentation::before {
    content: "\f1c4";
    color: Magenta;
    font-family: "FontAwesome";
}

.file--x-office-presentation::after {
    content: "(PPT)";
    color: var(--gt-black);
    font-weight: 400;
    font-size: 90%;
}

a[href$=".pps"] {
    color: var(--gt-black);
    padding-left: .25rem;
}

a[href$=".ppsx"] {
    color: var(--gt-black);
    padding-left: .25rem;
}




