/* GT HEADER */
header {
    background: var(--gt-white);
}

/**/
.site-name {
    color: var(--gt-black);
    font-family: var(--font-abel);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 .25rem 0;
}

.site-slogan {
    color: var(--gt-black);
    font-family: var(--font-roboto-condensed);
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 0 .1rem;
    text-transform: uppercase;
	letter-spacing: 0.56px;
}

.site-title-multiple {
    margin: 0;
}

.site-title-single {
    margin: 1.1rem 0 0;
}

.container-fluid .navbar .col,
.breadcrumb-links .container-fluid {
    padding: 0 0 0 6px;
}

.fixed-top {
    border-bottom: 1px solid var(--gt-gold);
    -moz-box-shadow: 0 7px 6px -6px var(--gt-light-grey);
    -webkit-box-shadow: 0 7px 6px -6px var(--gt-light-grey);
    -o-box-shadow: 0 7px 6px -6px var(--gt-light-grey);
    box-shadow: 0 7px 6px -6px var(--gt-light-grey);
}

.main-container.fixed-top {
    position: relative;
    padding-top: 12rem;
    z-index: 1;
}

#gt-header {
    position: relative;
    margin-top: .75rem;
}

/* Top Header */

#gt-header-bg-accent-row {
    position: absolute;
    background: -moz-linear-gradient(to right, var(--gt-mdlt-gold) 0%, var(--gt-mdlt-gold) 50%, transparent 50%, transparent 100%);
    background: -webkit-linear-gradient(to right, var(--gt-mdlt-gold) 0%, var(--gt-mdlt-gold) 50%, transparent 50%, transparent 100%);
    background: -o-linear-gradient(to right, var(--gt-mdlt-gold) 0%, var(--gt-mdlt-gold) 50%, transparent 50%, transparent 100%);
    background: linear-gradient(to right, var(--gt-mdlt-gold) 0%, var(--gt-mdlt-gold) 50%, transparent 50%, transparent 100%);
    width: 100%;
    height: 20px; /* must match height of angle-top-wrapper */
    overflow: hidden;
}

#top-header {
	height: 20px;
    overflow: hidden;
}

#striped-accent-bar {
    position: relative;
    background: #ffffff url('/themes/contrib/gt_theme/images/stripes.svg');
	height: 20px;
	width: 100%;
	background-repeat: repeat-x;
	background-size: auto 100%;
	background-size: 26px 26px;
}

#angle-top-wrapper {
    height: 20px; /* must match angle-after-logo negative top px */
    width: 100%;
    overflow: hidden;
  }

    #angle-top-goldblock {
      width: 100%;
      height: 100%;
      background: var(--gt-mdlt-gold);
    }

    #angle-top {
      overflow: hidden;
      position: relative;
      width: 0;
      height: 0;
      border-bottom: 120px solid var(--gt-mdlt-gold); /* borders are .6 ratio for 60deg angle */
      border-right: 72px solid transparent;  /* borders are .6 ratio for 60deg angle */
    }

    #ctn {
	  overflow: hidden;
      min-width: 180px;
      height: 100%;
      border-left: 10px solid #FFFFFF; /* for padding */
      border-right: 5px solid #FFFFFF; /* for padding */
      background: #ffffff;
      background-repeat: no-repeat;
      background-size: contain;
    }

    #ctn-angle {
      position: relative;
      width: 0;
      height: 0;
      border-bottom: 20px solid transparent; /* borders are .6 ratio for 60deg angle */
      border-right: 12px solid #FFFFFF; /* borders are .6 ratio for 60deg angle */
    }


/* Middle Header */
#middle-header {
	background: var(--gt-gold);
	top: 0;
}

#middle-header a:hover {
	text-decoration: none;
}

.middle-header-gradient {
	background: -moz-linear-gradient(to right, var(--gt-gold-grad-1) 0%, var(--gt-gold) 100%);
	background: -webkit-linear-gradient(to right, var(--gt-gold-grad-1) 0%, var(--gt-gold) 100%);
	background: -o-linear-gradient(to right, var(--gt-gold-grad-1) 0%, var(--gt-gold) 100%);
	background: linear-gradient(to right, var(--gt-gold-grad-1) 0%, var(--gt-gold) 100%);
}

#logo-wrapper {
	height: 100px;
	width: 100%;
	overflow: hidden;
}

  #logo-goldblock {
	    width: 100%;
	    height: 100%;
	    padding: .4rem 0;
	    padding-left: 15px;
	    background: var(--gt-gold);
	    display: flex;
	    flex-direction: column;
	    justify-content: center; /** vertially **/
	}

  #angle-after-logo {
	    overflow: hidden;
	    position: relative;
	    width: 0;
	    height: 0;
	    top: -20px; /* must match angle-top-wrapper height */
	    border-bottom: 120px solid var(--gt-gold); /* borders are .6 ratio for 60deg angle */
	    border-right: 72px solid transparent;  /* borders are .6 ratio for 60deg angle */
	}

  #gt-logo {
		width: 100%;
		height: 100%;
		height: 80px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center; /** vertially **/
	    position: relative;
	}

  #gt-logo a {
		width: 100%;
		height: 100%;
  }

  img#gt-logo-image {
	  	width: 100%;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    margin: auto;
  }

/* Bottom Header */
#bottom-header {
    background: var(--gt-white);
    position: relative;
    z-index: 99999;
}

#utility-navigation {
    margin: 0;
}

/* Sticky Header */
.sticky.navbar {
    border-radius: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.sticky .show-is-sticky,
.sticky .show-not-sticky {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
}

.sticky .show-not-sticky {
    opacity: 1;
    visibility: visible;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.sticky.is-sticky {
    background-color: var(--gt-white);
    border-bottom: 1px solid var(--gt-gold);
    -webkit-box-shadow: 0 7px 6px -6px var(--gt-light-grey);
    -moz-box-shadow: 0 7px 6px -6px var(--gt-light-grey);
    box-shadow: 0 7px 6px -6px #ccc;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.sticky.is-sticky #page-navigation {
    padding: 8px 0 0 40px;
}

.sticky.is-sticky #utility-navigation {
    padding: 5px 15px 0 0;
}

.sticky.is-sticky #search-container {
    padding: 4px 15px 0 15px;
}

.sticky.is-sticky .fa-search:before {
    padding: 2px 0 0;
    font-size: .8rem;
}

.sticky.is-sticky .show-is-sticky {
    opacity: 1;
    visibility: visible;
}

.sticky.is-sticky .show-not-sticky {
    opacity: 0;
    visibility: hidden;
}

.sticky.is-sticky .nav-logo {
    position: relative;
    left: 15px;
    width: auto;
}

.sticky.is-sticky .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

.pt-2.sticky.is-sticky {
    padding-top: 0 !important;
}

.pb-1.sticky.is-sticky {
    padding-bottom: 0 !important;
}

.sticky.is-sticky .nav-link a,
.sticky.is-sticky a.nav-link,
.sticky.is-sticky.fa-search:before,
.sticky.is-sticky #search-container span,
.gt-sticky-menu #gt-utility a {
    font-size: .8rem !important;
}

.sticky.is-sticky .navbar-expand-md .navbar-nav {
    margin-top: .2rem;
}

.sticky.is-sticky .navbar {
    padding: .5rem 1rem .5rem .5rem;
}
.sticky.is-sticky  ul.utility-navigation.navbar-nav.float-right.force-w-100 {
    margin: 6px 0 0;
}
.nav-logo {
    left: -9999px;
    position: relative;
    width: 0;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gt-sticky-menu img:first-child {
    margin-bottom: 0 !important;
}

.hero::after {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,0 0,100' /%3E%3C/svg%3E");
}

/********* RESPONSIVE - by MIN WIDTH *********/
@media (min-width: 2250px) {

}
/* end `2250px */
@media (min-width: 1890px) {

}
/* end `1890px */
@media (min-width: 1590px) {

}
/* end `1590px */

/********* RESPONSIVE - by MAX WIDTH *********/
@media (max-width: 1198px) {

    .main-container.fixed-top {
        position: relative;
        padding-top: 11rem;
    }

    #search-container {
        padding: 5px 15px 0 15px;
        top: 0;
    }
}


@media (max-width: 990px) {
	header {
    	padding-top: 0;
	}
    .fixed-top {
        position: relative;
    }

    .main-container.fixed-top {
        position: relative;
        padding-top: 0;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-item {
        padding: 0;
    }

    .navbar-nav .nav-item {
        padding: .24rem 0 0;
    }

    .mr-auto,
    .mx-auto {
        margin-right: 0 !important;
    }

    #page-navigation {
        width: 100%;
    }

    #page-navigation .mr-auto,
    #page-navigation .mx-auto {
        margin-right: 0 !important;
    }

    .site-title-multiple {
        margin: 0;
    }

    #utility-navigation {
        padding: 0;
        margin: .5rem 15px 0 0;
    }

}
/* end 990px max-width */



/* end 990px */
@media (max-width: 768px) {
	#gt-header {
		margin-top: 0;
	}

	#gt-header .container {
		max-width: 100%;
	}

	#top-header,
	#angle-top-wrapper,
	#gt-header-bg-accent-row,
	#striped-accent-bar {
	    height: 10px;
	}

	#angle-after-logo {
		top: -10px;
	}

	#striped-accent-bar {
		position: absolute;
		top: 0;
		width: 100%;
	}

	#site-title {
		padding-left: 15px !important;
		padding-right: 15px !important;
		background: #ffffff;
		width: 100%;
		top: 100%;
		height: auto;
	}
	#site-title > div{
		width: 100%;
		padding-bottom: .5rem;
		border-bottom: 1px solid var(--gt-gold);
	}

	.site-slogan {
		color: var(--gt-md-gold);
	}

	#logo-wrapper {
		height: 90px;
	}

	.middle-header {
		background: #ffffff;
	}

	.middle-header:after {
		content: ' ';
	    position: relative;
	    width: 100%;
	    height: 5px;
	    border-bottom: 1px solid var(--gt-gold);
	    display: block;
	}

    .breadcrumb {
        display: none;
    }

    #bottom-header .container {
        padding-left: 25px;
        margin-top: 1rem;
    }

    .force-w-100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .fixed-top {
        position: relative;
    }

    #gt-header h1 {
        margin: .5rem 0 0;
    }

    #gt-header h2 {
        margin: .5rem 0 .25rem -.1rem;
    }

    #gt-header h3 {
        margin: .25rem 0 .25rem 0;
    }

    .gt-sticky-menu {
        display: none;
    }

    .main-container {
        margin-top: .5rem;
    }

    .main-container.fixed-top {
        position: relative;
        padding-top: 0;
    }

    .navbar-collapse {
        background: var(--gt-white);
        border-bottom: 4px solid var(--gt-gold);
        z-index: 9999;
    }

    .hide.search-box {
        position: relative;
        left: 0;
        top: auto;
        width: auto;
        height: inherit;
        overflow: unset;
    }

    .site-name {
        font-size: 2rem;
    }

    .utility-navigation {
        padding: 15px 0 15px 0;
    }

    .utility-navigation .float-right {
        float: left !important;
    }

}
/* end 768px */

@media (max-width: 567px) {
	#gt-header .container {
		max-width: 100%;
	}
}
/* end 567x max-width */
